/*
=========================================
=========================================

Bootstrap Temple Blog Template

=========================================
========================================= */
/*

* =====================
* GENERAL
* =====================
*/

body {
  overflow-x: hidden;
}

a,
i,
span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
  overflow-x: hidden;
}

button,
input {
  outline: none !important;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

i[class*="icon-"] {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

/*=== Helpers ===*/

.text-white {
  color: #fff;
}

.no-padding-top {
  padding-top: 0 !important;
}

.btn {
  border-radius: 0 !important;
}

h1,
h2,
h6 {
  margin-bottom: 15px;
}

a.hero-link {
  color: inherit !important;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none !important;
  margin-top: 20px;
  font-weight: 300;
}

a.hero-link::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.hero-link:hover {
  color: #999 !important;
}

a.hero-link:hover::after {
  background: #999;
}

div[class*="-btn"] {
  cursor: pointer;
}

/* General Media Query ------------------------------------- */

@media (max-width: 575px) {
  nav.navbar .container {
    width: 100%;
  }
}

/*
* ==========================================================
*     NAVBAR
* ==========================================================
*/
.navbar {
  background: #fff;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9998;
  border-bottom: 1px solid #ddd;
}

.navbar .navbar-toggler {
  margin-top: 5px;
}

.navbar .navbar-toggler span {
  width: 20px;
  height: 2px;
  background: #222;
  margin-bottom: 4px;
  display: block;
}

.navbar .navbar-toggler span:last-of-type {
  margin-bottom: 0;
}

.navbar .search-area {
  display: none;
  z-index: 9999;
}

.navbar .search-area-inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.99);
  padding: 20px !important;
}

.navbar .search-area-inner .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar .navbar-nav a.nav-link {
  color: #333;
  margin: 0 5px;
  font-weight: 400;
  font-size: 0.95em;
}

.navbar .navbar-nav a.nav-link:hover {
  color: #999;
}

/* Navbar Media Query ------------------------------------- */
@media (max-width: 991px) {
  nav.navbar .navbar-header {
    width: 100%;
  }
  nav.navbar::after {
    width: 100%;
  }
  nav.navbar .search-area {
    font-size: 0.75em;
  }
}

/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
section.hero {
  padding: 0;
  color: #fff;
}

section.hero .container {
  padding: 200px 20px;
  position: relative;
}

section.hero h1 {
  line-height: 1.2em;
}

/* Hero Section Media Query ------------------------------------- */
@media (max-width: 767px) {
  section.hero .container {
    padding: 150px 20px;
  }
}

/*
* ==========================================================
*     FEATURED POSTS SECTION
* ==========================================================
*/
section.featured-posts .row:nth-of-type(odd) .text {
  background: #fafafa;
}

section.featured-posts .row:last-of-type {
  margin-bottom: 0;
}

section.featured-posts p {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

section.featured-posts .text-inner {
  padding: 70px 30px;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.featured-posts h2 {
  line-height: 1.1em;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.featured-posts h2:hover {
  color: #555;
}

section.featured-posts .image {
  max-height: 200px;
  width: auto;
  overflow: hidden;
  padding: 0;
}

section.featured-posts .image img {
  height: 100%;
}

section.featured-posts .post-header {
  margin-bottom: 10px;
}

/* Featured Posts Section Media Query ------------------------------------- */
@media (max-width: 991px) {
  section.featured-posts .image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-height: 300px;
    min-height: auto !important;
  }
  section.featured-posts .image img {
    width: 100%;
    height: auto !important;
  }
  section.featured-posts .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (max-width: 350px) {
  section.featured-posts .text-inner {
    padding: 15px;
  }
}

/*
* ==========================================================
*     DIVIDER SECTION
* ==========================================================
*/
section.divider {
  color: #fff;
}

/*
* ==========================================================
*     LATEST SECTION
* ==========================================================
*/

/* Latest Posts Section Media Query ------------------------------------- */

/*
* ==========================================================
*     NEWSLETTER SECTION
* ==========================================================
*/

/* Newsletter Section Media Query ------------------------------------- */

/*
* ==========================================================
*     GALLERY SECTION
* ==========================================================
*/

/*
* ==========================================================
*     FOOTER
* ==========================================================
*/
footer.main-footer {
  background: #0e0e0e;
  padding: 100px 0 0;
  color: #fff;
}

footer.main-footer .contact-details p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
  font-size: 0.95em;
}

footer.main-footer .contact-details a {
  text-decoration: underline;
  margin-bottom: 0;
}

footer.main-footer a {
  color: inherit;
  font-weight: 300;
  margin-bottom: 7px;
}

footer.main-footer a:hover, footer.main-footer a:focus {
  color: #999;
}

footer.main-footer .copyrights {
  background: #090909;
  margin-top: 100px;
  padding: 20px 0;
  font-size: 0.9em;
}

footer.main-footer .copyrights * {
  margin-bottom: 0;
}

/* Footer Media Query ------------------------------------- */
@media (max-width: 767px) {
  footer.main-footer div[class*="col-"] {
    margin-bottom: 40px;
  }
  footer.main-footer div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }
  footer.main-footer .copyrights div[class*="col-"] {
    margin-bottom: 20px;
    text-align: center !important;
  }
  footer.main-footer .copyrights div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }
}

/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/

/* =========================================
   THEMING OF BOOTSTRAP COMPONENTS
   ========================================= */
/*
 * 1. NAVBAR
 */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/*
 * 2. BUTTONS
 */
.btn {
  font-weight: normal;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px rgba(153, 153, 153, 0.25);
  box-shadow: 0 0 0 3px rgba(153, 153, 153, 0.25);
}

.btn:active {
  background-image: none;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.btn-success:disabled {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:active {
  background-color: #218838;
  background-image: none;
  border-color: #1e7e34;
}

/*
 * 3. TYPE
 */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

a {
  color: #999;
  text-decoration: none;
}

a:focus, a:hover {
  color: #737373;
  text-decoration: underline;
}

h1,
h2,
h6,
.h4 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

/*
 * 4. PAGINATION
 */

/*
* 5. UTILITIES
*/

.bg-light {
  background-color: #f8f9fa !important;
}
.sidekick {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #039be5;
  font-family: "Roboto", serif;
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight: 100;
}
.sidekick:before,
.sidekick:after {
  font-family: Calibri;
  color: #039be5;
  font-size: 34px;
}
.sidekick:before {
  content: "\201e";
}
.sidekick:after {
  content: "\201c";
}
.sidekick cite {
  font-size: 50%;
  text-align: center;
  top: 50%;
}
.sidekick cite:before {
  content: " \2015 ";
}
